In [1]:
import pandas as pd

In [3]:
df1= pd.read_excel('Excel_old.xlsx')
df2= pd.read_excel('Excel_new.xlsx')

In [31]:
df1['id']=df1['Unique ID']+df1['Data Point']
df2['Id']=df1['Unique ID']+df1['Data Point']

In [21]:
dict_old_2020={}
colid=6
col=2
for row in range(df1.shape[0]):
    dict_old_2020[df1.iloc[row,colid]]=df1.iloc[row,col]

In [22]:
dict_old_2020

{'AbcVar_a': 1,
 'AbcVar_b': 42,
 'DefVar_a': 234,
 'DefVar_b': 4,
 'GhiVar_a': 43,
 'GhiVar_b': 43,
 'JklVar_a': 423,
 'JlkVar_b': 54,
 'MnoVar_a': 981,
 'MnoVar_b': 5342}

In [23]:
pd.DataFrame(list(dict_old_2020.items()), columns=['ID', '2020'])

         ID  2020
0  AbcVar_a     1
1  AbcVar_b    42
2  DefVar_a   234
3  DefVar_b     4
4  GhiVar_a    43
5  GhiVar_b    43
6  JklVar_a   423
7  JlkVar_b    54
8  MnoVar_a   981
9  MnoVar_b  5342

In [24]:
dict_old_2021={}
colid=6
col=3
for row in range(df1.shape[0]):
    dict_old_2021[df1.iloc[row,colid]]=df1.iloc[row,col]

In [25]:
dict_old_2021

{'AbcVar_a': 43,
 'AbcVar_b': 7654,
 'DefVar_a': 543,
 'DefVar_b': 54,
 'GhiVar_a': 342,
 'GhiVar_b': 543,
 'JklVar_a': 432,
 'JlkVar_b': 2,
 'MnoVar_a': 234,
 'MnoVar_b': 6543}

In [26]:
dict_old_2022={}
colid=6
col=4
for row in range(df1.shape[0]):
    dict_old_2022[df1.iloc[row,colid]]=df1.iloc[row,col]

In [27]:
dict_old_2022

{'AbcVar_a': 543,
 'AbcVar_b': 786,
 'DefVar_a': 654,
 'DefVar_b': 653,
 'GhiVar_a': 0,
 'GhiVar_b': 65,
 'JklVar_a': 432,
 'JlkVar_b': 65,
 'MnoVar_a': 32,
 'MnoVar_b': 875}

In [28]:
dict_old_2023={}
colid=6
col=5
for row in range(df1.shape[0]):
    dict_old_2023[df1.iloc[row,colid]]=df1.iloc[row,col]

In [29]:
dict_old_2023

{'AbcVar_a': 42,
 'AbcVar_b': 63,
 'DefVar_a': 432,
 'DefVar_b': 2,
 'GhiVar_a': 5,
 'GhiVar_b': 123,
 'JklVar_a': 432,
 'JlkVar_b': 872,
 'MnoVar_a': 98,
 'MnoVar_b': 2456}

In [32]:
dict_new_2020={}
colid=6
col=2
for row in range(df2.shape[0]):
    dict_new_2020[df2.iloc[row,colid]]=df2.iloc[row,col]

In [33]:
dict_new_2021={}
colid=6
col=3
for row in range(df2.shape[0]):
    dict_new_2021[df2.iloc[row,colid]]=df2.iloc[row,col]

In [35]:
dict_new_2022={}
colid=6
col=4
for row in range(df2.shape[0]):
    dict_new_2022[df2.iloc[row,colid]]=df2.iloc[row,col]

In [36]:
dict_new_2023={}
colid=6
col=5
for row in range(df2.shape[0]):
    dict_new_2023[df2.iloc[row,colid]]=df2.iloc[row,col]

In [37]:
dict_new_2021

{'AbcVar_a': 43,
 'AbcVar_b': 7654,
 'DefVar_a': 543,
 'DefVar_b': 54,
 'GhiVar_a': 342,
 'GhiVar_b': 543,
 'JklVar_a': 5432,
 'JlkVar_b': 2,
 'MnoVar_a': 234,
 'MnoVar_b': 6543}

In [39]:
dict_dif_2020={}

for key in dict_new_2020.keys():
    if key not in dict_old_2020.keys():
        dict_dif_2020[key]=dict_new_2020[key]
    else:
        dict_dif_2020[key]=dict_old_2020[key]-dict_new_2020[key]

In [46]:
dict_dif_2020

{'AbcVar_a': 0,
 'AbcVar_b': 0,
 'DefVar_a': 0,
 'DefVar_b': 0,
 'GhiVar_a': 8,
 'GhiVar_b': 0,
 'JklVar_a': 0,
 'JlkVar_b': 0,
 'MnoVar_a': 0,
 'MnoVar_b': 0}

In [49]:
dict_dif_2021={}

for key in dict_new_2021.keys():
    if key not in dict_old_2021.keys():
        dict_dif_2021[key]=dict_new_2021[key]
    else:
        dict_dif_2021[key]=dict_old_2021[key]-dict_new_2021[key]
        

dict_dif_2021

{'AbcVar_a': 0,
 'AbcVar_b': 0,
 'DefVar_a': 0,
 'DefVar_b': 0,
 'GhiVar_a': 0,
 'GhiVar_b': 0,
 'JklVar_a': -5000,
 'JlkVar_b': 0,
 'MnoVar_a': 0,
 'MnoVar_b': 0}

In [86]:
dict_dif_2022={}

for key in dict_new_2022.keys():
    if key not in dict_old_2022.keys():
        dict_dif_2022[key]=dict_new_2022[key]
    else:
        dict_dif_2022[key]=dict_old_2022[key]-dict_new_2022[key]
        

dict_dif_2022

{'AbcVar_a': 0,
 'AbcVar_b': 352,
 'DefVar_a': 0,
 'DefVar_b': 0,
 'GhiVar_a': -423,
 'GhiVar_b': 0,
 'JklVar_a': 0,
 'JlkVar_b': 0,
 'MnoVar_a': 0,
 'MnoVar_b': 0}

In [87]:
dict_dif_2023={}

for key in dict_new_2023.keys():
    if key not in dict_old_2023.keys():
        dict_dif_2023[key]=dict_new_2023[key]
    else:
        dict_dif_2023[key]=dict_old_2023[key]-dict_new_2023[key]
        

dict_dif_2023

{'AbcVar_a': 0,
 'AbcVar_b': 0,
 'DefVar_a': 389,
 'DefVar_b': 0,
 'GhiVar_a': 0,
 'GhiVar_b': 0,
 'JklVar_a': 0,
 'JlkVar_b': 0,
 'MnoVar_a': 55,
 'MnoVar_b': 0}

In [95]:
df_add_2020=pd.DataFrame(list(dict_dif_2020.items()), columns=['ID','2020'])

In [96]:
df_add_2020

         ID  2020
0  AbcVar_a     0
1  AbcVar_b     0
2  DefVar_a     0
3  DefVar_b     0
4  GhiVar_a     8
5  GhiVar_b     0
6  JklVar_a     0
7  JlkVar_b     0
8  MnoVar_a     0
9  MnoVar_b     0

In [97]:
df_add_2021=pd.DataFrame(list(dict_dif_2021.values()), columns=['2021'])

In [98]:
df_add_2022=pd.DataFrame(list(dict_dif_2022.values()), columns=['2022'])

In [99]:
df_add_2023=pd.DataFrame(list(dict_dif_2023.values()), columns=['2023'])

In [100]:
df_add=pd.concat([df_add_2020,df_add_2021,df_add_2022,df_add_2023],axis=1,sort=False)

In [101]:
df_add

         ID  2020  2021  2022  2023
0  AbcVar_a     0     0     0     0
1  AbcVar_b     0     0   352     0
2  DefVar_a     0     0     0   389
3  DefVar_b     0     0     0     0
4  GhiVar_a     8     0  -423     0
5  GhiVar_b     0     0     0     0
6  JklVar_a     0 -5000     0     0
7  JlkVar_b     0     0     0     0
8  MnoVar_a     0     0     0    55
9  MnoVar_b     0     0     0     0

In [108]:
df_name=pd.DataFrame({'Unique ID':df2['Unique ID'],'Data Point':df2['Data Point'],'2020':df_add_2020['2020'],'2021':df_add_2021['2021'],'2022':df_add_2022['2022'],'2023':df_add_2023['2023']})

In [109]:
df_name

  Unique ID Data Point  2020  2021  2022  2023
0       Abc      Var_a     0     0     0     0
1       Abc      Var_b     0     0   352     0
2       Def      Var_a     0     0     0   389
3       Def      Var_b     0     0     0     0
4       Ghi      Var_a     8     0  -423     0
5       Ghi      Var_b     0     0     0     0
6       Jkl      Var_a     0 -5000     0     0
7       Jlk      Var_b     0     0     0     0
8       Mno      Var_a     0     0     0    55
9       Mno      Var_b     0     0     0     0

In [138]:
def color_red(value):
    color = 'red' if (value!=0 and type(value)!=str) else 'black'
    return 'color: %s' %color

In [139]:
df=df_name.style.applymap(color_red)

In [143]:
df.to_excel("Final.xlsx",index =False)