In [1]:
import sqlite3

In [2]:
import sqlite3
con = sqlite3.connect('sports.db')

In [3]:
curb = con.cursor()

In [4]:
q = "CREATE TABLE players (id integer PRIMARY KEY, name text, sport text, \
earn real, country text)"

In [5]:
curb.execute(q)

In [6]:
q = "INSERT into players values (12, 'federer', 'tennis', 4050600, 'swiss')"

In [7]:
curb.execute(q)

In [8]:
con.commit()

In [9]:
q = "INSERT into players (id, name, sport, earn, country) VALUES (?,?,?,?,?)"

In [10]:
curb.execute(q, [14, 'senna', 'foruma1', 346780, 'brazil'])

In [11]:
con.commit()

In [12]:
lista = [16, 'lebron', 'basketball', 408920, 'US']
listb = [20, 'smriti', 'cricket', 12054, 'india']
listc = [18, 'saina', 'badminton', 28230, 'india']

In [13]:
tupa = (lista, listb, listc)

In [14]:
listd = [22, 'ronaldo', 'football', 680234, 'portugal']

In [15]:
curb.execute(q, listd)
con.commit()

In [16]:
curb.executemany(q, tupa)
con.commit()

In [17]:
q = "UPDATE players SET name = 'RON' where id = 22"

In [18]:
curb.execute(q)
con.commit()

In [19]:
q = "SELECT * FROM players"

In [20]:
curb.execute(q)

In [21]:
data = curb.fetchall()

In [22]:
import time
for rec in data:
    print(rec)
    time.sleep(1)

(12, 'federer', 'tennis', 4050600.0, 'swiss')
(14, 'senna', 'foruma1', 346780.0, 'brazil')
(16, 'lebron', 'basketball', 408920.0, 'US')
(18, 'saina', 'badminton', 28230.0, 'india')
(20, 'smriti', 'cricket', 12054.0, 'india')
(22, 'RON', 'football', 680234.0, 'portugal')